/.project
/tengtelc/trunk/*.21681gf
/tengtelc/trunk/*.pk
/tengtelc/trunk/gdlerr.txt
/tengtelc/trunk/latinr.sfd
/tengtelc/trunk/latinb.sfd
/tengtelc/trunk/tengwarr.sfd
/tengtelc/trunk/tengwarb.sfd
/tengtelc/trunk/underline.sfd


