/.project
/tengtelc/trunk/*.21681gf
/tengtelc/trunk/*.2602gf
/tengtelc/trunk/*.dvi
/tengtelc/trunk/*.pk
/tengtelc/trunk/*.log
/tengtelc/trunk/*.enc
/tengtelc/trunk/*.pe
/tengtelc/trunk/*.tfm
/tengtelc/trunk/gdlerr.txt
/tengtelc/trunk/TengwarTelcontar*
/tengtelc/trunk/latin???.sfd
/tengtelc/trunk/latin???.gdh
/tengtelc/trunk/tengwar???.sfd
/tengtelc/trunk/tengwar???.gdh
/tengtelc/trunk/tengtelc???.gdl
/tengtelc/trunk/tengtelc???.ttf
/tengtelc/trunk/underline.sfd
/tengtelc/trunk/underline.gdh
